<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="{% static 'appnml/index.js'%}" defer></script>
</head>
<body>
    <h1>body template working</h1>
    <form class="form_compose">
        <label for="username">user Name</label>
        <input type="text" name="username">
        <label for="pass word">pass word</label>
        <input type="text" name="password">
        <input id="submit-btn" type="submit" class="btn btn-primary" value="submit"/>
    </form>


    <div class="displayHer">
    </div>
</body>
</html>